<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{ url_for('frontend', filename='styles.css') }}">
</head>
<body>
    <div class="title_section">
        <h1>Habit Farming</h1>
        <h1>Mon 22 December</h1>
    </div>

    <div class ="habit_grid">
        {% for habit in habits %}
        <div class='Habit_card'>
            {{ habit.habit_name }}
            {{ habit.tamagotchi_name }}
            {{ happiness_level }}

        </div>
        {% endfor %}
    </div>

    <div class="animals">
    </div>   
</body>
</html>